<%#about.ejs%>
<%#ejs는 node.js 에서 가장 많이 사용하는 템플릿 엔진이다.%>
<%#기존 html 문법에서 <% %>를 사용해서 크게 벗어나지 않고, 쉽게 서버의 데이터를 사용하고 코드를 실행할 수 있다.%>

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </body>
</html>